/.vscode
/1-d array.py
/2-d array.py
/animation.py
/Check if element exists in list in Python.py
/Count occurrences of an element in a list.py
/data = {.py
/data = {.txt
/def init.py
/Different ways to clear a list in Python.py
/Find Maximum of two numbers in Python.py
/Find sum and average of List in Python.py
/func.py
/getfields.py
/How To Find the Length of a List in Python.py
/import numpy.py
/import pygame.py
/index.html
/linear regression.py
/mean of list of numbers.py
/minibatch gd.py
/Objects and Classes.py
/Python program to count Even and Odd numbers in a List.py
/Python program to interchange first and last elements in a list.py
/Python Program to Swap Two Elements in a List.py
/Reversing a List in Python.py
/ridge reg simple.py
/ridge reg.py
/SAMPLE TEXT 1.txt
/script.js
/styles.css
/Sum of number digits in List.py
/testing.sql
/Untitled-1.ipynb
/webscrapping demo.py
/while loop.py